// import all files in modules
@import './modules/navbar';
@import './modules/Footer';
@import './modules/Section1';
@import './modules/Section2';
@import './modules/Section3';
@import './modules/Section4';
@import './modules/Section5';
@import './modules/Section6';
@import './modules/Section7';
@import './modules/Section8';
@import './modules/Section9';
@import './modules/Section10';
@import './modules/Section11';
@import './modules/Section12';
@import './modules/media';