@import '../../node_modules/bootstrap/scss/functions'; 
@import '../../node_modules/bootstrap/scss/variables';
// ......... //
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@import './allModules';
@import './mixins';
@import './variables';
// @include toFlex(flex, center, center, 30px) //
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: orange;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);

}