@import '../../node_modules/bootstrap/scss/functions'; 
@import '../../node_modules/bootstrap/scss/variables';
// ......... //
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

@import './allModules';
@import './mixins';
@import './variables';
// @include toFlex(flex, center, center, 30px) //
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
