._Footer{
    background-color: rgb(23, 15, 15);
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.fotoya i{
    font-size: 22px;
    color: orange;
}
.fotoya h6{
    color: aliceblue;
    font-size: 18px;
    font-family: "Satisfy", cursive;
  font-weight: 600;
}
.corto p{
    margin-bottom: 0rem !important;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.904);
}
.fotoya{
    display: flex;
    gap: 10px;
}
.cartiya{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.top-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.adresa{
    flex-direction: column;
}
.media{
    display: flex;
    gap: 20px;
}
.mediya i{
    color: rgba(190, 190, 190, 0.712);
    font-size: 17px;
}
.corto span , .sapana{
    font-weight: bold;
}
.mediya{
    border: 1px solid rgba(190, 190, 190, 0.712);
    border-radius: 50%;
    height: 40px;
    width: 40px;
     display: flex;
    justify-content: center;
    align-items: center;

}
.oronga{
    color: orange;
}
.bottom-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
      font-size: 14px;
      border-top: 1px solid  rgba(209, 209, 209, 0.195);
      width: 80%;
      padding-top: 25px;
}