._Section3{
        gap: 35px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding-top: 100px;
}
.top-3{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}
.why{
      font-size: 14px;

   font-weight: 500;
   color: orange;
   background-color: rgb(255, 230, 183);
   width: 85px;
   height: 27px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
}
.bottom-3{
  
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cart{
    height: 50%;
    width: 27%;
    background-color: rgba(225, 225, 225, 0.189);
    text-decoration: none;
    display: flex;
    
    
    justify-content: center;
    color: black;
    padding: 35px ;
    flex-direction: column;
}
.number{
    font-size: 27px;
    color: orange;
    font-weight: 700;
}
.header{
    font-size: 23px;
}
.cart h4{
      font-family: "Satisfy", cursive;
      font-weight: 600;
}
.lorem{
    font-size: 14px;
    padding-top: 10px;
}
.cart:hover{
    background-color: orange;
    color: aliceblue;
    .number{
        color: aliceblue;
    }
}