._Section11 {
    gap: 40px;
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 99vw;
}

.map {
    width: 100%;
    height: 400px; 
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}