._Section4 {
    gap: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 100px;
}

.bottom-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.all-menu a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
    

}

.all-menu {
    display: flex;
    gap: 25px;
  
      font-family: "Satisfy", cursive;
      
}

.menu {
    display: flex;
    gap: 30px;
    

}
label{
      cursor:pointer;
}
.bold {
    font-weight: 700;
}

.left-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.menu-part1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-finnaly {
    display: flex;
    gap: 10px;
}

.menu-finnaly a {
    text-decoration: none;
    color: grey;
}

.lien-menu {
    color: black;
    font-weight: 700;
}

// .details{
//     display: flex;
//     flex-direction: column;

// }
.sea {
    font-size: 15px;
    font-weight: 300;
    color: rgb(130, 130, 130);
    position: relative;
    top: -15px;
    font-style: italic !important;
}

.menu-finnaly img {
    border-radius: 50%;
    border: 8px solid rgba(219, 219, 219, 0.762);
}

.name-menu::after {
    content: " ................................................................................................... ";
}

input {
    display: none;
}

.all:checked~.menu .menu-finnaly {
    display: flex;
}
.starters:checked~.menu .menu-finnaly {
    display: none;
}

.starters:checked~.menu .menu-finnaly.starters {
    display: flex;
}

.salads:checked~.menu .menu-finnaly {
    display: none;
}

.salads:checked~.menu .menu-finnaly.salads {
    display: flex;
}

.specialty:checked~.menu .menu-finnaly {
    display: none;
}

.specialty:checked~.menu .menu-finnaly.specialty {
    display: flex;
}